input.ng-invalid.ng-touched {
  border: 1px solid #f66b6b !important;
  background-color: #f6aeae;
}
.input-container {
  border: 1px solid #7e7e7e61;
  padding: 0.25rem;
}
.input-container input {
  height: 1.85rem;
  width: 90%;
  border: none;
  outline: none;
}
