<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <button class="btn btn-success">
      Like
      <svg
        style="margin-bottom: 4px"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-heart"
        viewBox="0 0 16 16"
      >
        <path
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
        />
      </svg>
    </button>
    <button class="btn btn-warning">← Back</button>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim veniam,
      quisquam accusantium sequi nobis magnam labore distinctio blanditiis illo
      unde aliquam? Minus qui mollitia illum laboriosam aliquid ipsa placeat
      perferendis, repudiandae neque eum dolorem dolorum aliquam deleniti quasi
      rerum excepturi, fuga in. Consequatur laudantium at dolor excepturi
      numquam obcaecati et reiciendis libero esse. Voluptate sunt voluptas, qui
      voluptates repellat, minima et distinctio, accusantium quas obcaecati ab
      dolorem minus similique molestiae id aut necessitatibus beatae iusto
      repudiandae? Dolorum repellat earum labore provident ipsam nisi, fugit eos
      ipsum accusantium dicta, et, debitis sequi aliquid atque! Quibusdam, quod,
      minus repellat, nam perspiciatis libero hic dicta distinctio quae deserunt
      sunt? Repudiandae ex vero nulla fugiat ut repellat deleniti corrupti,
      deserunt quas magnam natus reiciendis distinctio nisi totam suscipit culpa
      iusto neque beatae ipsum sapiente tenetur reprehenderit. Ut amet
      accusantium ex. Nisi et ea omnis perspiciatis eum ad dignissimos a modi
      libero animi amet, fugiat magnam! Voluptatum accusamus deserunt laboriosam
      laborum officia perspiciatis distinctio cupiditate sapiente ex facilis
      labore dolore, excepturi dolorem in dolorum molestiae qui inventore sint!
      Molestiae quasi iste eaque perspiciatis, consectetur incidunt maxime
      aperiam sed repellendus error. Perspiciatis suscipit obcaecati cumque.
      Illum cupiditate tempora adipisci odit dolorum? Distinctio obcaecati
      ratione reiciendis dolor.
    </div>
  </div>
</div>
