<div class="container-fluid container-sm mt-3 news_display">
  <p *ngIf="!newsArticleArr && !isLoading">No Content to Display</p>

  <app-spinner *ngIf="isLoading"></app-spinner>

  <div
    class="card"
    style="width: 100%"
    *ngFor="let newsData of newsArticleArr; let i = index"
  >
    <div class="card-body">
      <h5 class="card-title">
        <b
          ><u>{{ newsData.title }}</u></b
        >
      </h5>
      <p class="card-text">{{ newsData.content }}</p>
      <p class="card-text">
        <small class="text-muted">{{ newsData.author }}</small
        >:
        <small class="text-muted">{{ newsData.source.name }}</small>
      </p>
      <div class="float-end">
        <a
          [routerLink]="['/home', 'news_articleDetails', i, newsData.content]"
          class="btn btn-outline-primary"
          (click)="getFullNews(i)"
          type="button"
        >
          Open Article
        </a>
      </div>
    </div>
  </div>
</div>
